
<div class="post-header">
  <a class="back-button"href='/'>< Home</a>
  <h1 class="post-title"><%- page.title %></h1>
  <%= date(page.date, config.date_format) %>
  <div class="post-linebreak"></div>
</div>
<articale>
  <%- page.content %>
</articale>

<%- css('css/post') %>