.navbar{
  z-index: 10;
  margin:0 140px 0 0;
}
.tabs{
  display: inline;
}
.navbar a{
  padding: 14px 28px;
  border-radius: 5px 5px 0 0;
  font-size: 1em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  /*Needs more change*/
  user-select: none;
  cursor: pointer;
  color: #1F2626;
}
.tab1-color{
  background-color:#50D6D3;
}
.tab2-color{
  background-color:#52E2A4;
}
.tab3-color{
  background-color:#B4CE57;
}
.tab4-color{
  background-color:#DDC354;
}
.navbar a:hover{
  background-color:grey;
}