<div  class="navbar" align="right">
    <div class="tabs">
      <a href="/" class="tab1-color" data-toggle="tab">Home</a>
    </div>
    <div class="tabs">
      <a href="/archives" class="tab2-color" data-toggle="tab">Archive</a>
    </div>
    <!--
    <div class="tabs">
      <a href="/categories" class="tab3-color" data-toggle="tab" >Category</a>
    </div>
    <div class="tabs">
      <a href="/tags" class="tab4-color" data-toggle="tab">Tags</a>
    </div>
  </div>-->
</div>
<%- css('css/partial/navbar') %>